{% extends 'cap2/base_mx.html' %}
{% load static %}
{% block title %}{{p_title}}{% endblock %}

{% block content %}
{% comment %} {% include 'pages/includes/pages_menu.html'%} {% endcomment %}
<main role="main">
  
  <div class="container mb-4">
    <h2 class="mt-3">{{p_title}}</h2>
    <p class="mt-3">{{p_componente}} - {{p_fase}} - {{p_etapa}}</p>
    <div class="agregar mb-4 text-right">
      {% if not request.user.is_staff %}
        <a class='mr-2'href="{% url 'forms:fichas' %}">Regresar</a>|
      {% else %}
        <a class='mr-2'href="{% url 'forms:fichas' %}">Regresar</a>
      {% endif %}
    </div>

    <div class="container mb-4">

      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <p >Duración de las obras o actividades: {{descripciongeneral.duracion}} días en cinco años</p>
          <a href="{% url 'forms:generales-update' descripciongeneral.id  %}">Editar</a>
          <div class = "text-justify">
            <p>{{descripciongeneral.content|striptags|safe|linebreaks}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
{% endblock %}