{% extends 'cap2/base_mx.html' %}
{% load static %}
{% block title %}{{p_title}}{% endblock %}

{% block content %}
{% comment %} {% include 'pages/includes/pages_menu.html'%} {% endcomment %}
<main role="main">
  
  <div class="container mb-4">
    <h2 class="mt-3">{{p_title}}</h2>
    <p class="mt-3">{{p_componente}} - {{p_fase}} - {{p_etapa}}</p>
    <div class="agregar mb-4 text-right">
      {% if not request.user.is_staff %}
        <a class='mr-2'href="{% url 'forms:fichas' %}">Regresar</a>|
        {% if existe1 == 0 %}
          <a class='ml-2' href="{% url 'forms:generales' id_f %}">Agregar</a>
        {% endif %}
        
      {% else %}
        <a class='mr-2'href="{% url 'forms:fichas' %}">Regresar</a>
        {% if existe1 == 0 %}
          <a class='ml-2' href="{% url 'forms:generales' id_f %}">Agregar</a>
        {% endif %}
        <a class='ml-2' href="{% url 'forms:completo' id_f %}">Estado</a>
      {% endif %}
    </div>

    <div class="container mb-4">
      
      {% for txt in descripciongeneral_list|dictsort:"id" reversed %}
        <p >Duración de las obras o actividades: {{txt.duracion}}</p>
        <a href="{% url 'forms:generales-update' txt.id  %}">Editar</a>
        {% if txt.componente == p_componente and txt.fase == p_fase and txt.etapa == p_etapa %}
          <div class="row mt-3">
            <div class="col-md-9 mx-auto">
              <p scope="row"></p>
              <div class = "text-justify">
                <p >{{txt.content|striptags|safe|linebreaks}}</p>
              </div>
            </div>
          </div>
        {%endif%}
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}