{% extends "cap2/base_mx.html" %}

{% block content %}
<main role="main">
    <div class="container">
        <div class="row mt-3 mb-5">
        <div class="col-md-9 mx-auto">
            <h2 class="mt-3">Fichas</h2>
        </div>
        <div class="col-lg-8 mx-auto">
            <h3>{{completados}}  de {{totales}}</h3>
        </div>
        <div class="progress col-lg-8 mx-auto mb-5">
            <div class="progress-bar" role="progressbar" style="width: {{porcentaje}}%;" aria-valuenow="{{porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{porcentaje}}%</div>
        </div>
        <div class="col-md-9 mx-auto">
            <div id="accordion">
                {% for componente in componentes|dictsort:"title"  %}
                    <div class="card border-0">
                        <div class="card-header bg-white border-0" id="headingOne_{{componente|slugify}}">
                            <h5 class="mb-0">
                                <button class="text-left btn btn-outline-primary btn-lg btn-block collapsed" data-toggle="collapse" data-target="#collapseOne_{{componente|slugify}}" aria-expanded="True" aria-controls="collapseOne_{{componente|slugify}}">
                                {{componente}}
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne_{{componente|slugify}}"class="collapse" aria-labelledby="headingOne_{{componente|slugify}}" data-parent="#accordion">
                            <div class="card-body">
                                {%for fase in fases %}  <!-- INICIA FOR DE FASES-->
                                    {%for etapa in etapas|dictsort:"title"  %}  <!-- INICIA FOR DE ETAPAS-->
                                        {% for etapa_c in componente.etapas.all %} 
                                            {% if etapa_c == etapa %}
                                            
                                            <h3>{{etapa}}</h3>
                                            {% for avance in avances|dictsort:"orden"  %}
                                                {%if avance.fase == fase and etapa == avance.etapa and componente == avance.componente %}

                                                    {% if not avance.completo %}
                                                        <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="id_{{avance|slugify}}">
                                                        <label class="form-check-label" for="id_{{avance|slugify}}">
                                                            {% if avance.nurl == "pendiente" %}
                                                                <a>{{avance}}</a>
                                                            {%else%}
                                                                {% with 'forms:'|add:avance.nurl as name %}     
                                                                    <a href="{% url name avance.id %}">{{avance}}</a>                                                            
                                                                {% endwith %}
                                                            {% endif%}
                                                        </label>
                                                        </div>
                                                    {% else %}
                                                        <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="id_c_{{avance|slugify}}" checked>
                                                        <label class="form-check-label" for="id_c_{{avance|slugify}}">
                                                            {% if avance.nurl == "pendiente" %}
                                                                <a>{{avance}}</a>
                                                            {%else%}
                                                                {% with 'forms:'|add:avance.nurl as name %}     
                                                                    <a href="{% url name avance.id %}">{{avance}}</a>                                                            
                                                                {% endwith %}
                                                            {% endif%}
                                                        </label>
                                                        </div>
                                                    {% endif %} <!-- Termina if de avance completo -->
                                                {% endif %} <!-- Termina if de comparación de fase etapa y componente -->
                                            {% endfor %} <!-- Termina for de avances -->
                                        {% endif %} <!-- Termina if de si la etapa froma parte del componente -->
                                        {% endfor %}   <!-- TERMMINA FOR DE ETAPAS del componente-->
                                    {% endfor %}   <!-- TERMMINA FOR DE ETAPAS-->
                                {% endfor %}   <!-- TERMMINA FOR DE FASES-->
                            </div>  <!-- cierre de div de card body -->
                        </div> <!-- cierre de div de contenido  colabsable -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}