{% extends 'cap2/base_mx.html' %}
{% load static %}
{% block title %}Máquinas{% endblock %}
{% block content %}
{% comment %} {% include 'pages/includes/pages_menu.html'%} {% endcomment %}
<main role="main">
  
  <div class="container">
    <h2 class="mt-3">Lista de figuras de localización</h2>
    <div class="agregar mb-4 text-right"><a href="{% url 'forms:localizacion' %}">Agregar otra figura</a></div>
    <div class="container-fluid">
      <div class="row">
        {% for figura in imagenlocalizacionc_list %}            
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
              <div class="bg-white rounded shadow-sm"><img src="{{ figura.image.url }}" alt="" class="img-fluid card-img-top">
                  <div class="p-4">
                    <h5> <a href="#" class="text-dark">ID:fig{{figura.id}}</a></h5>
                    <p class="small text-muted mb-0">{{figura.pie}}</p>
                    <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                        <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Fase: {{figura.fase}}</span></p>
                        <div class="badge badge-danger px-3 rounded-pill font-weight-normal">{{figura.etapa}}</div>
                    </div>
                  </div>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}