{% extends 'cap2/base_mx.html' %}
{% load static %}
{% block title %}Catálogo de conceptos{% endblock %}
{% block content %}
{% comment %} {% include 'pages/includes/pages_menu.html'%} {% endcomment %}
<main role="main">
  
    <div class="container mb-4">
        <h2 class="mt-3">Catálogo de conceptos</h2>
    <div class="list-group">
        <a href="{% url 'catalogos:componentes' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de componentes <span class="badge badge-light">{{num_componentes}}</span></a>
        <a href="{% url 'catalogos:maquinas' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de maquinaria <span class="badge badge-light">{{num_macquina}}</span></a>
        <a href="{% url 'catalogos:unidades' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de unidades <span class="badge badge-light">{{num_unidades}} </a>
        <a href="{% url 'catalogos:edificaciones' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de obras provisionales <span class="badge badge-light">{{num_edificios}}</a>
        <a href="{% url 'catalogos:actividades' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de actividades provisionales <span class="badge badge-light">{{num_actividades}}</a>
        <a href="{% url 'catalogos:insumos' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de insumos de construcción <span class="badge badge-light">{{num_insumos}}</a>
        <a href="{% url 'catalogos:quimicas' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de sustancias químicas peligrosas requeridas y almacenadas<span class="badge badge-light">{{num_quimicas}}</a>
        <a href="{% url 'catalogos:flores' %}" class="list-group-item list-group-item-action border-0 text-primary">Listado florístico <span class="badge badge-light">{{num_flores}}</a>
        <a href="{% url 'catalogos:personal' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de tipos de personal <span class="badge badge-light">{{num_personal}}</a>
        <a href="{% url 'catalogos:sistemas' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de sistemas constructivos<span class="badge badge-light">{{num_sistemas}}</a>
        <a href="{% url 'catalogos:procesos' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de procesos constructivos<span class="badge badge-light">{{num_procesos}}</a>
        <a href="{% url 'catalogos:residuos' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de tipo de residuos<span class="badge badge-light">{{num_residuos}}</a>
        <a href="{% url 'catalogos:tagua' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de tipo de agua<span class="badge badge-light">{{num_tagua}}</a>
        <a href="{% url 'catalogos:tagresidual' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de tipo de aguas residuales<span class="badge badge-light">{{num_tagresidual}}</a>
        <a href="{% url 'catalogos:aprovechamiento' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de tipos de aprovechamiento <span class="badge badge-light">{{num_aprovechamiento}}</a>
        <a href="{% url 'catalogos:cobertura' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de tipos de cobertura y abreviaturas<span class="badge badge-light">{{num_cobertura}}</a>
        <a href="{% url 'catalogos:zona' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de zonificación y abreviaturas<span class="badge badge-light">{{num_zona}}</a>
        <a href="{% url 'catalogos:tierra' %}" class="list-group-item list-group-item-action border-0 text-primary">Catálogo de desmonte, despalme, excavación y relleno<span class="badge badge-light">{{num_tierra}}</a>
        <a href="{% url 'catalogos:consedi' %}" class="list-group-item list-group-item-action border-0 text-primary">Lista de tipos de construcción-edificación<span class="badge badge-light">{{num_consedi}}</a>
        <a href="#" class="list-group-item list-group-item-action border-0 text-primary">Lista de obras lineales<span class="badge badge-light">0</a>
        

    </div>
  </div>
</main>

{% endblock %}