{% extends 'cap2/base_mx.html' %}
{% load static %}
{% block title %}{{p_title}}{% endblock %}
{% block content %}
{% comment %} {% include 'pages/includes/pages_menu.html'%} {% endcomment %}
<main role="main">
  
  <div class="container mb-4">
    <h2 class="mt-3">{{p_title}}</h2>
    <div class="agregar mb-4 text-right"><a href="{% url 'catalogos:tierra-create' %}">Agregar</a></div>
    <table class="table  table-striped mt-5">
      <thead>
        <tr>
          <th scope="col" class="text-center">Tipo</th>
        </tr>
      </thead>
      <tbody>
      {% for i in movimientotierra_list %}
          <tr>
            <th scope="row"><a href="{% url 'catalogos:tierra-update' i.id %}">{{i.tipo}} </a></th>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}